@model App_Tutorias_Turing.Models.Tutoria

@{
    ViewData["Title"] = "Editar Tutoría";
}

<h1>Editar Tutoría</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Descripción</label>
        <input asp-for="Descripcion" class="form-control" />
    </div>
    <div class="form-group">
        <label>URL</label>
        <input asp-for="Url" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista de tutorías</a>
</form>
